$primary: #E40019;
$secondary: #2A3B59;
$gray-1: #090A0E;
$gray-2: #949A9F;
$gray-3: #A0AABF;
$gray-4: #D2DCE4;
$gray-5: #Fafafa;

$breadcrumb-divider: ">";

$font-family-sans-serif: 'Lato', sans-serif;