.register-steps{
  margin-top: 80px;
  .bg{
    background:$gray-100;
    min-height: calc(100vh - 80px);
    p{
      line-height: 30px;
      a{
        color:$secondary;
        font-weight: bold;
      }
    }
  }

  .title-division{
    font-size: 18px !important;
    font-weight: 700 !important;
    letter-spacing: 0.5px;
  }

  .steps{
    .step{
      border-bottom:solid 1px $gray-200;
      margin:0 0 20px 0;
      padding:20px 0;
      position: relative;
      h6{
        color:$gray-600;
        text-transform: uppercase;
      }
      h4{
        padding-right: 40px
      }
      a{
        display: none;
        color:$primary;
      }
      &.disable{
        opacity:0.3;
        cursor:not-allowed;
      }
      &.done{
        a{
          display: block
        }
        &:after{
          content:'';
          position: absolute;
          width: 40px;
          height: 40px;
          top:30px;
          right: 0;
          @include border-radius(40px);
          background: $secondary url('/assets/images/icon-check-white.svg') no-repeat center center;
        }
      }
    }
  }

  .btn-default{
    text-transform: uppercase;
    color:$gray-500;
  }
}

.more-crops {
  display: none;
}
.link-more {
  margin-bottom: 30px;
  color: $primary !important;
  border-width: 0px;
  font-size: 16px !important;
}

@media screen and (max-width: 990px) {
  .register-steps{
    .bg{
      min-height: auto;
    }
  }
}
@media screen and (max-width: 420px) {
  .disable-mobile{
    display: none;
  }
  .register-steps{
    .steps{
      .step{
        &.disable{
          display: none;
        }
        &.done{
          display: none;
        }
        &.disable-mobile{
          display: none;
        }
      }
    }
  }
}