.cont-activefilters{
  margin:20px 0;
  .btn{
    font-size: 12px;
    background-color: $gray-200;
    border:solid 1px $gray-300;
    padding:5px 20px 5px 5px;
    position: relative;
    font:600 12px $font-family-sans-serif;
    letter-spacing: 0.83px;
    color:$secondary;
    @include border-radius(3px);
    &+.btn{
      margin-left: 10px
    }
    img{
      position: absolute;
      height: 6px;
      float: right;
      top:11px;
      right: 5px;
    }
  }
}