.data-graph{
  cursor: pointer;
  border:solid 1px $gray-200;
  @include border-radius(3px);
  padding:20px;
  margin:0 0 40px 0;
  a{
    h2{
      color:$primary;
      font-weight: 900;
    }
    p{
      color:$secondary;
      margin:0;
    }
    .container-icon{
      margin-top: 10px;
    }
  }
  &:hover{
    box-shadow: 0 0 10px $gray-300;
  }
}

.recharts-wrapper{
  width: 100% !important;
  margin-bottom: 40px;
  & > svg {
    width: 100% !important;
    height: auto;
  }
}


@media screen and (max-width: 990px) {
  .data-graph{
    a{
      h2{
        color:$primary;
        font-weight: 900;
      }
      p{
        color:$secondary;
        margin:0;
        line-height: 30px;
      }
      .container-icon{
        position: absolute;
        top:-20px;
        right: 5px;
      }
    }
  }
}