.banner-home{
  img{

  }
  h3{
    @include text-shadow(0, 0, 10px, $gray-900);
    font:bold #{$h1-font-size}/#{$h1-font-size+0.1} $font-family-sans-serif;
    position: absolute;
    color: $white;
    top:120px;
    left: 10vw;
    width:480px;
  }
}