.banner-home{
  background-size: cover !important;
  padding: 5vw;
  width: 100vw;
  h3{
    @include text-shadow(0, 0, 10px, $gray-900);
    font:bold #{$h1-font-size}/#{$h1-font-size+0.1} $font-family-sans-serif;
    //position: absolute;
    color: $white;
    //top:120px;
    //left: 10vw;
    //width:480px;
  }

  .container-data-input-group{
    // position: absolute;
    // right: 40px;
    // top:0;
    // bottom: 0;
    // margin: auto;
    .cont-form{
      background-color: $white;
      margin-top: 25px;
      h5{
        margin:0 0 20px 0;
        padding:0;
        border-top: none;
      }
    }
  }
}


@media screen and (max-width: 990px) {
  .banner-home{
    text-align: center;
  }
}