.container-box-item{
  .box-item{
    margin-bottom:40px;
    .item-car{
      @include border-radius(3px);
      overflow:hidden;
      border:solid 1px $gray-300;
      a:hover{
        text-decoration: none !important;
      }
      .photos{
        // margin-bottom:10px;
        background-color: $gray-500;
        height: 140px;
        overflow: hidden;
        position: relative;
        p{
          position: absolute;
          top:10px;
          left:15px;
          z-index: 10;
          background-color: transparentize($primary, 0.2);
          padding:5px 10px;
          font:700 $font-size-sm $font-family-sans-serif;
          @include border-radius(25px);
          color:$white;
          &.item-state{
            position: absolute;
            left: 15px;
            color:$white;
            padding: 5px 10px;
            &.sold{
              background-color: rgba(42, 59, 89, 0.8);
            }
          }
        }
      }
      @at-root .item-data{
        padding:15px;
        p{
          font:400 $font-size-base $font-family-sans-serif;
          color:$secondary;
          margin:0 0 5px 0;
          overflow: hidden;
          height: $font-size-lg;
          strong{
            font-size: 16px
          }
          span{
            color:$gray-500;
            text-transform: uppercase;
          }

          &.item-description{
            margin-bottom: 10px;
          }
          &.item-name{
            height: $font-size-lg * 1.5;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        small{
          font-weight: 300;
          font-size: 14px;
        }
      }
      &:hover{
        box-shadow: 0 0 10px $gray-300;
      }

      // ADMIN
      &.wide{
        padding: 15px;
        .item-data{
          padding:0;
        }
        p{
          height: auto;
          &.item-state{
            position: absolute;
            right: 15px;
            color:$white;
            min-width: 100px;
            padding: 5px 10px;
            &.published{
              background-color: rgba(72, 210, 160, 0.8);
            }
            &.pending{
              background-color: rgba(53, 142, 215, 0.8);
            }
            &.sold{
              background-color: rgba(42, 59, 89, 0.8);
            }
            &.highlighted{
              background-color: rgba(190, 0, 21, 0.8);
            }
          }
          &.item-name strong, &.item-price strong{
            font-size: $h3-font-size;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .item-visibility{
          font:bold 12px $font-family-sans-serif;
          color:$gray-600;
        }
        .item-admin{
          margin:20px 0 0 0;
          border-top:solid 1px $gray-200;
        }
      }
    }


  }
  .box-user{
    background-color: $gray-100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.box-detail-car{
  background-color: $gray-100;
  padding: 10px;
  margin: 20px 0px;
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: #e70404 !important;
}
.rangeslider__labels .rangeslider__label-item {
  transform: translate3d(-150%,0,0) !important;
}

// HORIZONTAL
.box-item-horizontal{
  border:solid 1px $gray-200;
  padding: 15px;
  margin-bottom: 20px;
  @include border-radius(3px);
  img{
    border:solid 1px $gray-200;
    @include border-radius(3px);
    overflow: hidden;
  }
  h4{
    font:700 18px/22px $font-family-sans-serif;
    text-transform: uppercase;
  }
  &:hover,&.active{
    border-color:$secondary;
  }
}


@media screen and (max-width: 960px) {
  .container-box-item{
    .box-item{
      .item-car{

        // ADMIN
        &.wide{
          p{
            &.item-state{
              right: -5px;
            }
          }
          .item-admin{
            text-align: center;
            .btn{
              float: none !important;
              display: block;
              margin:auto;
              max-width: 200px;
            }
          }
        }
      }

    }
  }
}
@media screen and (max-width: 425px) {
  .container-box-item{
    .box-item{
      .item-car{
        // ADMIN
        &.wide{
          p{
            &.item-state{
              &.published{
                background-color: rgba(72, 210, 160, 0.7);
              }
              &.pending{
                background-color: rgba(53, 142, 215, 0.7);
              }
              &.sold{
                background-color: rgba(42, 59, 89, 0.5);
              }
              &.highlighted{
                background-color: rgba(190, 0, 21, 0.5);
              }
            }
          }
        }
      }

    }
  }
}
