.simulator-container{
  background-color: #fafafa;
  padding: 20px;
  border: solid 1px $gray-300;
  border-radius: 4px;
  margin-bottom: 30px;
}
.price-container {
  padding-top: 45px;
  h2{
    color: $secondary;
  }
}
.small-letter {
  font-size: 12px;
  margin-bottom: 0px;
  line-height: 2;
}
.modal-credit{
  &-left{
    padding-left: 30px;
    padding-right: 5px;
  }
  &-right{
    padding-right: 30px;
    padding-left: 5px;
  }
  button {
    border: solid 1px $gray-300;
    .subtitle {
      font-size: 12px;
    }
    img {
      height: 30px;
      width: auto;
    }
  }
}