.microsite-header{
  .microsite-portrait{

  }
  .microsite-data{
    h3{
      margin-bottom: 20px;
    }
    .microsite-data-avatar{
      margin-top: -150px;
      img{
        border:solid 1px $gray-200;
        @include border-radius(3px);
      }
    }
    .container-data-input-group{
      margin-top: 40px;
    }
  }
}