@media screen and (max-width: 1240px) {
  .sidebar-mobile{
    overflow-y:scroll;
    display: block !important;
    position: fixed;
    top: 0;
    left: -100vw;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    opacity:0;
    padding: 20vw 10vh;

    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;

    &.active{
      opacity:1;
      text-align: center;
      background-color: $white;
      display: block !important;
      top: 0;
      left: 0;
      -webkit-transition: all 500ms ease-out;
      -moz-transition: all 500ms ease-out;
      -o-transition: all 500ms ease-out;
      transition: all 500ms ease-out;

      .btn{
        &.btn-primary{
          display: none;
        }
        &.btn-link-active{
          border:none;
        }
        &.btn-sidebar-close{
          display: block !important;
        }
      }
      .icon{
        display: block;
        width: 100%;
      }
      .w-100{
        margin: 20px 0;
        border-bottom: solid 1px $gray-200;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .sidebar-mobile{
    &.active{
      .btn{
        margin:auto !important;
        &.btn-primary{
          margin:auto !important;
        }
        &.btn-link-active{
          border:none;
        }
      }
    }
  }
}