#myTopnav{
  width: 100vw;
  display: inline-block;
  a{
    font:300 #{$font-size-sm + 0.05}/#{$font-size-lg} $font-family-sans-serif;
    color:$gray-600;
    float: right;
    padding: 6px 23px;
    text-decoration: none;
    letter-spacing: 0.02rem;
  }
}

@media screen and (max-width: 500px){
  #myTopnav{
    width: auto;
    display: inline-block;
    overflow-x: scroll;
    white-space: nowrap;
    a{
      white-space: nowrap;
      display: inline-block;
      float: none;
    }
  }
}