
.scrolling-wrapper {
  display: none;
}

.service-parent{
  height: 360px;
  width: auto;
  margin-bottom: 20px;
  overflow: hidden;
  &:hover .service-child{
    transform: scale(1.07);
    transition: all .5s;
  }
  &:hover .service-child:before,
  &:focus .service-child:before {
    display: block;
  }
}

.service-child{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background-repeat: no-repeat;
  background-position: center;
  &::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  h1 {
    color: #FFF;
    text-align: left;
  }
  &-link{
    background-color: transparent;
    text-align: left;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    color: #FFF;
  }
}

@media screen and (max-width: 767px) {
  .service {
    animation: none;
    transition: none;
  }
  .service-desktop{
    display: none;
  }
  .scrolling-wrapper {
    display: initial;

    .service-carousel {
      background-size: 100%;
    }
  }
}