.h2-404text {
  position: relative;
  top: 20px;
  height: 114px;
  width: 436px;
  color: #34495e;
  font-family: Lato;
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
}
.divider1-404{
  height: 50px;
}
.divider2-404{
  height: 20px;
}
.p-404text {
  display: block;
  text-align: left;  
  color: #e40019;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  line-height: 38px;
}
.header404 {
  height: 120px;
}
.image404 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
