.btn{
  @include border-radius(0);
  &.btn-select{
    background-color: $white;
    border:solid 1px $gray-100;
    width: 100% !important;
  }

  //PRIMARY
  &.btn-primary{
    font-weight:900;
    text-transform: uppercase;
    padding: 10px 15px;
    height: 50px;
    line-height: 30px;
    letter-spacing: 1px;
    @include border-radius(3px);
    &.alternative{
      background-color: transparent;
      color:$primary;
      border:none;
    }
  }
  //SECONDARY
  &.btn-secondary{
    @include border-radius(3px);
    font:700 14px $font-family-sans-serif;
    text-transform: uppercase;
    padding: 10px 15px;
    height: 50px;
    line-height: 30px;
    letter-spacing: 1px;
  }
  .show>.btn-secondary.dropdown-toggle {
    color: $primary;
    background-color: transparent !important;
  }
  

  
  // SHOW MORE
  &.btn-more {
    border: none;
    padding: 10px 60px;
  }

  // FOOTER
  &.btn-footer {
    color: #fff !important;
    padding: 0px 12px !important;
  }
  &.btn-footerTerms {
    color: #fff !important;
    padding: 0px !important;
  }
  &.a-footer {
    color: #fff;
    padding: 0px;
    line-height: 30px
  }

  // LINK
  &.btn-link{
    border:none;
    background:none;
    font:bold #{$font-size-base}/#{$font-size-lg} $font-family-sans-serif;
    color:$secondary;
    line-height: 30px;
    &-active{
      border:none !important;
      background:none !important;
      font:bold #{$font-size-base}/#{$font-size-lg} $font-family-sans-serif;
      color:$primary !important;
      border-right: solid 1px $gray-300;
    }
  }

  &.btn-link-primary{
    border:none;
    background:none;
    font:bold #{$font-size-base}/#{$font-size-lg} $font-family-sans-serif;
    color:$primary;
    line-height: 30px;
    img{
      position: relative;
      margin: -5px 5px 0 0;
    }
  }



  //LOGIN FACEBOOK
  &.btn-facebook{
    background-color: #3B5998;
    color:bold 14px $font-family-sans-serif;
    text-align: center;
    border:none;
    display: block;
    width: 100%;
    i{
      height: 20px;
      margin: -4px 20px 0 0;
      font-size: 20px;
    }
  }

  &.btn-sidebar-close{
    position: absolute;
    top:20px;
    right: 20px;
    max-width: 50px !important;
  }

  &.btn-sidebarfilters-open{
    position: fixed;
    bottom:20px;
    right: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    max-width: 150px !important;
    margin:auto;
    @include border-radius(40px);
  }
}

.btn-secondary:not([disabled]):not(.disabled):active, .btn-secondary:not([disabled]):not(.disabled).active, .show>.btn-secondary.dropdown-toggle{
  background-color: transparent;
}