// Headings
.title-division{
  font:900 $h2-font-size $font-family-sans-serif;
  color:$secondary;
  margin:20px 0;
}

.title-division-primary{
  font:700 $h3-font-size $font-family-sans-serif;
  color:$primary;
  margin:20px 0;
}