// Headings
.title-division{
  font:900 32px/48px $font-family-sans-serif;
  color:$secondary;
  margin:20px 0;
  letter-spacing: 3px;
}

.title-division-primary{
  font:700 $h3-font-size $font-family-sans-serif;
  color:$primary;
  margin:20px 0;
}