.header{
  background-color: #FFF;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px;
  width: 100vw;
  position: fixed;
  top: 29px;
  left: 0px;
  right: 0px;
  z-index: 30;
  .brand{
    img{
      margin:4px auto 0 auto;
      cursor: pointer;
    }
  }
  //1
  .react-autosuggest__container{
    width: 100%;
    .react-autosuggest__input{
      font:700 14px $font-family-sans-serif;
      @include border-radius(3px 0 0 3px);
      @include placeholder {
        font:400 14px $font-family-sans-serif;
        color:$gray-3;
        line-height: 25px;
      }
      border:solid 1px $gray-300;
      border-right: none;
      padding:10px 45px 10px 15px;
      height: 50px;
      width: 100%;
    }
    .react-autosuggest__suggestions-container--open{
      @include border-radius(3px);
      border:solid 1px $gray-200;
      .react-autosuggest__section-title{
        font:400 $font-size-sm $font-family-sans-serif;
      }
      .react-autosuggest__suggestions-list{
        li{
          span{
            font:$font-size-base $font-family-sans-serif;
          }
        }
      }
    }
  }

  //2
  .btn-group{
    margin-top:-1px;
    width: 100%;
    .btn-primary {
      border-bottom-left-radius: 5px !important;
      border-top-left-radius: 5px !important;
      margin-right: 20px;    
    }
    .btn-select{
      border:solid 1px $gray-200;
      padding:10px 30px;
      height: 50px;
      font:#{$font-size-base}/#{$font-size-lg} $font-family-sans-serif;
      color:$secondary;
      width: 100%;
      background-color: $white;
    }
  }

  //3
  .btn-icon{
    padding:10px 15px;
    height: 50px;
    background-color: #FFF;
    border:solid 1px $gray-200;
    border-left: none;
    @include border-radius(0 3px 3px 0);
    &:active {
      background-color: #FFF !important;
      border-color: $gray-200 !important;
    }
  }

  //3
  .area-btns{
    .btn{
      padding:10px 20px;
      height: 50px;
      line-height: 30px !important;
      &.btn-secondary{
        font:bold #{$font-size-base}/#{$font-size-lg} $font-family-sans-serif;
        text-transform: uppercase;
        @include border-radius(5px);
        border:none;
      }

    }
    .custom-dropdown{
      left:auto !important;
      right:0 !important;
      top:50px !important;
      transform:none !important;
      .dropdown-item{
        border-bottom:solid 1px $gray-200;
        padding:0.5rem 1rem;
        h4{
          font:$font-size-lg $font-family-sans-serif;
          color:$secondary;
        }
        h6{
          font:300 $h6-font-size $font-family-sans-serif;
          color:$gray-600;
        }
      }
    }
  }
  .sell-mobile{
    display: none;
  }
}

.btn-type-seller{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 15px 0px;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px $gray-300;
  img{
    width: auto;
    height: 35px;
  }
  h4, h6{
    text-align: start;
  }
}

.mt-90{
  margin-top: 90px;
}

@media screen and (max-width: 768px) {
  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .area-btns{
      .custom-dropdown{
        left: 0 !important;
        margin-left: -20px;
        border: none;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .header{
    .search{
      max-width: 120px;
    }
    .react-autosuggest__container{
      .react-autosuggest__input{
        padding-right:10px !important;
      }
    }
    .btn-seller{
      margin-right: 20px !important;
    }
  }
}
@media screen and (max-width: 390px) {
  .header{
    .search{
      max-width: 100px;
    }
    .btn-primary{
      padding: 10px !important;
    }
  }
}
@media screen and (max-width: 1240px) {
.header{
    .sell-mobile{
      display: initial;
    }
  }
}
@media screen and (max-width: 992px) {
.header{
    .brand{
      display: none;
    }
  }
}